body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: #0A3D62;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 22px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* SUBMENÚ */
.submenu {
    display: none;
    position: absolute;
    background: #1e638a;
    padding: 10px 0;
    list-style: none;
    min-width: 150px;
    top: 25px;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu li {
    padding: 8px 15px;
}

.submenu li a {
    display: block;
}

.submenu li:hover {
    background: #145374;
}

/* CONTENIDO GENERAL */
.container {
    padding: 40px;
}

img {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 8px;
}