/* Estilos adicionales para Navbar si lo necesitas */
.navbar-brand {
  font-weight: bold;
  font-size: 24px;
}

.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #0dcaf0 !important;
}
